*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}



.film {
  width: 600px;
  height: 291px;
  padding: 15px 15px;
  margin-top: 15px;
  margin-left: 15px;
  border: 1px solid grey;
  position: relative;
}
.film-poster {
  display: inline-block;
  float: left;
  width: 30%;
  position: relative;
}

.film-details {
 display: inline-block;
 float: left;
 width: 70%;
 /*position: relative;*/
 padding-left: 15px;
}
.film-description {
  display: inline-block;
  width: 95%;
}

.fa.fa-2x {
  position: absolute;
  color: red;
  top: 2.5%;
  right: 4.5%;
}

.action-like {
  position: absolute;
  bottom: 1%;
  right: 1%;
  color: red;
}
.film-title{
  margin: 0px 0px 0px 0px;
}
